.footer {
  height: 4rem;
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  padding-top: 2em;
}
.footer .post-tags {
  padding: 4rem 0 1rem;
  display: flex;
  justify-content: space-between;
}
